{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
  <html lang="en">
  
    <head>
  
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>LANA BOOK STORE</title>

    
    </head>
  
  <body>
    {% block content %}
  
      <!-- partial -->
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{%  url  'Index'  %}" class="logo">
                          <img src="{%  static  'images/image-removebg-preview.png'  %}" alt="">
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
        
    </header>
   
    <!-- ***** Header Area End ***** -->
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <div class="page-content">
  
            <!-- ***** Banner Start ***** -->
            <!-- <img src="/assets/images/image-removebg-preview.png" class="img-responsive"> -->
            <div class="main-banner">
              <div class="row">
                <div class="col-lg-12">
               
                </div>
              </div>
              <div class="most-popular">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="heading-section">
                    <div class="row">
                      <div class="col-lg-4 text-center col-sm-12 col-md-6 mt-3">
                      </div>
                      <div class="col-lg-8 text-center col-sm-12 col-md-6 mt-3">
                        <ul>
                          {% for book in books %}
                          <li><img src="{{ book.image.url }}" alt="{{ book.title }}" width="100"></li>

                              <li>{{ book.title }} by {{ book.author }}</li>
                          {% endfor %}
                          </ul>
                      </div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ***** Banner End ***** -->
  
            <!-- ***** Most Popular Start ***** -->
            
            </div>
            <!-- ***** Most Popular End ***** -->
  
            <!-- ***** Gaming Library End ***** -->
          </div>
        </div>
      </div>
    </div>
    <br>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p clas="ml-5">Copyright © 2023 <a href="#">LANA BOOK STORE</a>. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}
    </body>
  
  </html>
  