{% load static %}
<!DOCTYPE html>
<html>
  <head> </head>
  <body>


    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{%  url  'Index'  %} ">
            <i class="fa-solid fa-house"></i>
            <span class="menu-title ml-2"> Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%  url  'Index'  %} ">
            <i class="fa-solid fa-house"></i>
            <span class="menu-title ml-2"> Login</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%  url  'Index'  %} ">
            <i class="fa-solid fa-house"></i>
            <span class="menu-title ml-2"> Charts</span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
