{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
  <html lang="en">
  
    <head>
  
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BI HUB</title>

    
    </head>
  
  <body>
    {% block content %}
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{%  url  'Index'  %}" class="logo">
                          <img src="{%  static  'images/MicrosoftTeams-image.png'  %}" alt="">
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
        
    </header>
   
    <!-- ***** Header Area End ***** -->
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <div class="page-content">
  
            <!-- ***** Banner Start ***** -->
            <!-- <img src="/assets/images/MicrosoftTeams-image.png" class="img-responsive"> -->
            <div class="main-banner">
              <div class="row">
                <div class="col-lg-12">
                  <div class="header-text">
                    <h6><br></h6>
                    <h4 class="text-center"><em>ANALYTICS </em> DASHBOARDs</h4>
                    
                  </div>
                </div>
              </div>
              <div class="most-popular">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="heading-section">
                    <div class="row">
                      <div class="col-lg-4 text-center col-sm-6 mt-3">
                        <div class="item">
                          <h4 class="mb-4 " ><a  href="http://bit.ly/3OywDTt" target="_blank">Loans</a></h4>
                          <a  href="http://bit.ly/3OywDTt" target="_blank"> <img src="{%  static  'images/loan.PNG'  %}" alt=""></a>
                          
                        
                        </div>
                      </div>
                     
                      <div class="col-lg-4 text-center col-sm-6 mt-3">
                        <div class="item">
                          <h4 class="mb-4 " ><a  href="http://bit.ly/3HqvwDc" target="_blank">Deposits</a></h4>
                          <a  href="http://bit.ly/3ii2trk" target="_blank"><img src="{%  static  'images/Deposits.png'  %}" alt=""></a>
                        </div>

                      </div>
                      <div class="col-lg-4 text-center col-sm-6 mt-3">
                        <div class="item">
                          <h4 class="mb-4 " ><a href="https://app.powerbi.com/reportEmbed?reportId=8223a974-d633-4d90-9b2e-fb6b187b4d90&autoAuth=true&ctid=9766f6af-73b8-40a2-8694-ede49d30d84e" target="_blank">BK Accounts Trend YTD</a></h4>
                          <a href="https://app.powerbi.com/reportEmbed?reportId=8223a974-d633-4d90-9b2e-fb6b187b4d90&autoAuth=true&ctid=9766f6af-73b8-40a2-8694-ede49d30d84e" target="_blank"> <img src="{%  static  'images/account_trend.png'  %}" alt=""></a>
                          
                          
                        </div>
                      </div>
                      </div>
                      <div class="row">

                        <div class="col-lg-4 text-center col-sm-6 mt-3">
                          <div class="item">
                            <h4 class="mb-4 " ><a  href="http://bit.ly/3ii2trk" target="_blank">Teller Transactions</a></h4>
                            <a  href="http://bit.ly/3ii2trk" target="_blank"><img src="{%  static  'images/teller_trans.PNG'  %}" alt=""></a>
                          </div>
                          
                        </div>
                        <div class="col-lg-4 text-center col-sm-6 mt-3">
                          <div class="item">
                            <h4 class="mb-4 " > <a  target="_blank" href="http://bit.ly/3LbjsYU">Digital Vs Transactions</a></h4>
                            <a  target="_blank" href="http://bit.ly/3LbjsYU">    <img src="{%  static  'images/digital_vs_teller.png'  %}" alt=""></a>
                            
                          
                          </div>
                        </div>
                        <div class="col-lg-4 text-center col-sm-6 mt-3">
                          <div class="item">
                            <h4 class="mb-4 " > <a  target="_blank" href="http://bit.ly/3V6TM1L">Digital Transactions</a></h4>
                            <a  target="_blank" href="http://bit.ly/3V6TM1L">    <img src="{%  static  'images/digital transaction.PNG'  %}" alt=""></a>
                            
                          
                          </div>
                        </div>
                        
                        <div class="col-lg-4 text-center col-sm-6 mt-3">
                          <div class="item">
                            <h4 class="mb-4 " ><a href="https://bit.ly/3VSc5YA" target="_blank">Data Cleansing</a></h4>
                            <a href="https://bit.ly/3VSc5YA" target="_blank"> <img src="{%  static  'images/data_cleansing.png'  %}" alt=""></a>
                            
                            
                          </div>
                        </div>
                        
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ***** Banner End ***** -->
  
            <!-- ***** Most Popular Start ***** -->
            
            </div>
            <!-- ***** Most Popular End ***** -->
  
            <!-- ***** Gaming Library End ***** -->
          </div>
        </div>
      </div>
    </div>
    <br>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p clas="ml-5">Copyright © 2022 <a href="#">BUSINESS INTELLIGENCE</a>. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}
    </body>
  
  </html>
  