{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
  <html lang="en">
  
    <head>
  
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BI HUB</title>

    
    </head>
  
  <body>
    {% block content %}
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{%  url  'Index'  %}" class="logo">
                          <img src="{%  static  'images/MicrosoftTeams-image.png'  %}" alt="">
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
    </header>
   
    <!-- ***** Header Area End ***** -->
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-content">
  
            <!-- ***** Banner Start ***** -->
            <!-- <img src="/assets/images/MicrosoftTeams-image.png" class="img-responsive"> -->
            <div class="main-banner">
              <div class="row">
                <div class="col-lg-12">
                  <div class="header-text">
                    <!-- <h6>welcome to,</h6> -->
                    <h4 class="text-center"><em>BUSINESS INTELLIGENCE </em> HUB</h4>
                    
                  </div>
                </div>
              </div>
              <div class="most-popular">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="heading-section">
                    <div class="row">
                      <div class="col-lg-4 text-center col-sm-6">
                        <div class="item">
                          <h4 class="mb-4" ><a  href="http://10.24.32.39:3000/CrossSelling_app/" target="_blank">Cross Selling App</a></h4>
                          <a  href="http://10.24.32.39:3000/CrossSelling_app/" target="_blank"><img src="{%  static  'images/cross_sell.PNG'  %}" alt=""></a>
                          
                        
                        </div>
                      </div>
                      <div class="col-lg-4 text-center col-sm-6">
                        <div class="item">
                          <h4 class="mb-4" ><a href="http://10.24.32.39:4000/Reconciliation_app/" target="_blank">Reconciliation App</a></h4>
                          <a href="http://10.24.32.39:4000/Reconciliation_app/" target="_blank">  <img src="{%  static  'images/recon.PNG'  %}" alt=""></a>
                          
                          
                        </div>
                      </div>
                      <div class="col-lg-4 text-center col-sm-6">
                        <div class="item">
                          <h4 class="mb-4" > <a  target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiYTAyM2U2NDAtYzNmYS00OTNkLWJhZmYtY2JmYzc1Mjc2YmVlIiwidCI6Ijk3NjZmNmFmLTczYjgtNDBhMi04Njk0LWVkZTQ5ZDMwZDg0ZSIsImMiOjh9&pageName=ReportSection">Analytics Dashboard</a></h4>
                          <a  target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiYTAyM2U2NDAtYzNmYS00OTNkLWJhZmYtY2JmYzc1Mjc2YmVlIiwidCI6Ijk3NjZmNmFmLTczYjgtNDBhMi04Njk0LWVkZTQ5ZDMwZDg0ZSIsImMiOjh9&pageName=ReportSection"> <img src="{%  static  'images/Capture.PNG'  %}" alt=""></a>
                          
                        
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ***** Banner End ***** -->
  
            <!-- ***** Most Popular Start ***** -->
            
            </div>
            <!-- ***** Most Popular End ***** -->
  
            <!-- ***** Gaming Library End ***** -->
          </div>
        </div>
      </div>
    </div>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p clas="ml-5">Copyright © 2022 <a href="#">BUSINESS INTELLIGENCE</a>. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}
    </body>
  
  </html>
  