<!DOCTYPE html>
<html>
<head> 
  <title>BI HUB</title>
</head>
<body>
    <div class="container-scroller">
<h3>Welcome to BI HUB</h3>
<h3>
    <a href="http://10.24.32.39:3000/CrossSelling_app/" target="_blank">Cross Selling App</a>
</h3>
<h3>
    <a href="http://10.24.32.39:4000/Reconciliation_app/" target="_blank"> Reconciliation_app

    </a>
</h3>
<h3>
    <a  target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiYTAyM2U2NDAtYzNmYS00OTNkLWJhZmYtY2JmYzc1Mjc2YmVlIiwidCI6Ijk3NjZmNmFmLTczYjgtNDBhMi04Njk0LWVkZTQ5ZDMwZDg0ZSIsImMiOjh9&pageName=ReportSection">Dashboards</a>
</h3>
    </div>
    <!-- container-scroller -->
  </body>
  
</html>
