{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
  <html lang="en">
  
    <head>
  
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BI HUB</title>

    
    </head>
  
  <body>
    {% block content %}
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{%  url  'Index'  %}" class="logo">
                          <img src="{%  static  'images/MicrosoftTeams-image.png'  %}" alt="">
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
        
    </header>
   
    <!-- ***** Header Area End ***** -->
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <div class="page-content">
  
            <!-- ***** Banner Start ***** -->
            <!-- <img src="/assets/images/MicrosoftTeams-image.png" class="img-responsive"> -->
            <div class="main-banner">
              <div class="row">
                <div class="col-lg-12">
                  <div class="header-text">
                    <h6><br></h6>
                    <h4 class="text-center"><em>RECONCILIATION </em> TOOLS</h4>
                    
                  </div>
                </div>
              </div>
              <div class="most-popular">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="heading-section">
                    <div class="row">
                      <div class="col-lg-6 text-center col-sm-6 mt-3">
                        <div class="item">
                          <h4 class="mb-4 " ><a  href="http://10.24.32.39:4000/Reconciliation_app/" target="_blank">RIPPS Reconciliation</a></h4>
                          <a  href="http://10.24.32.39:4000/Reconciliation_app/" target="_blank"><img src="{%  static  'images/recon.PNG'  %}" alt=""></a> 
                          
                        
                        </div>
                      </div>
                     
                      <div class="col-lg-6 text-center col-sm-6 mt-3">
                        <div class="item">
                          <h4 class="mb-4 launch" ><a href="http://10.24.32.39:7000/Swift_reconciliation/" target="_blank" >SWIFT Reconciliation</a></h4>
                          <a href="http://10.24.32.39:7000/Swift_reconciliation/" target="_blank" > <img src="{%  static  'images/swift_recon.PNG'  %}" alt=""></a>
                          
                        
                        </div>
                      </div>
                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ***** Banner End ***** -->
  
            <!-- ***** Most Popular Start ***** -->
            
            </div>
            <!-- ***** Most Popular End ***** -->
  
            <!-- ***** Gaming Library End ***** -->
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="text-right"> <i class="fa fa-close close" data-dismiss="modal"></i> </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="text-center mt-3"> <img src="{%  static  'images/Contact.svg'  %}" width="100"> </div>
                      </div>
                      <div class="col-md-6 mb-2">
                          <div class="text-white mt-4">
                              <span class="intro-1">Hello!</span>
                              <div class="mt-2"> <span class="intro-2">This is a desktop application,please contact BI for installation.</span> </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <br>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p clas="ml-5">Copyright © 2022 <a href="#">BUSINESS INTELLIGENCE</a>. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    
    {% endblock %}
    </body>
  
  </html>
  